body {
  margin: 0 auto;
  background: #c5d0d8;
  text-align: center;
  font-family: m-plus-rounded-1c, sans-serif;
  font-weight: 100%;
  font-style: normal;
}
a {
  text-decoration: none;
  border-bottom: 5px solid #e9ecef;
  color: #e9ecef;
  transition: 0.5s;
}
header img {
    width: 100px;
    margin: 4em 0 0;
}
header p {
  text-align: center;
  margin: 1em;
  color: #a7b3c0;
  font-size: 0.9em;
}
h1 {tfont-weight: 900;
    font-style: normal;
    margin: 0;
    margin-top: 3px;
    font-size: 2rem;
    line-height: 1.2em;
    border-left: 5px dotted #c5d0d8;
    padding-left: 10px;}
h2 {tfont-weight: 600;
    font-style: normal;
    margin: 0;
    margin-top: 3px;
    font-size: 1.5rem;
    line-height: 1.2em;
    border-left: 5px dotted #c5d0d8;
    padding-left: 10px;}
h3 {tfont-weight: 300;
    font-style: normal;
    margin: 0;
    margin-top: 3px;
    font-size: 1rem;
    line-height: 1.2em;
    padding-left: 10px;}
div {
	padding:10px 40px; 
	background:#FFFF;
	width: auto;
	border-radius:8px;
	margin:0 15vw 5vh 15vw;
	box-shadow: 5px 5px 10px #888888;
	text-align: left;
	font-size: 18px;
        line-height: 1.8em;
        font-family: Cambria, 'Microsoft Yahei', sans-serif;
        font-weight: 100;
        color: #333;
}
hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
nav ul {
  padding: 0 0 2em 0;
  margin: 0 auto;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.8em;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 1.3vw;
}
nav ul li:nth-child(1) a:hover {
  color: #90abc7;
}
nav ul li:nth-child(2) a:hover {
  color: #99acc6;
}
nav ul li:nth-child(3) a:hover {
  color: #a7adc3;
}
nav ul li:nth-child(4) a:hover {
  color: #b2aec2;
}
nav ul li:nth-child(5) a:hover {
  color: #bfafc0;
}
nav ul li:nth-child(6) a:hover {
  color: #ceb0be;
}
nav ul li:nth-child(7) a:hover {
  color: #d4b0bd;
}
footer {
  bottom: 0;
  text-align: center;
  width: 100vw;
  font-size: 0.9em;
  color: #a7b3c0;
  background: #c5d0d8;
}
